<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      <identity impersonate="true" userName="rick" password="7425" />
    <authorization>
      <deny users="?"/>
      <allow roles="SuperAdmin" />
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
